[user]
  email = klaer.julien@gmail.com
  name = Julien Klaer
  signingkey = B4D124D880654D314E0060CBBA8176A6963BF507
[init]
  defaultBranch = main
[core]
  editor = hx
  excludesfile = ~/.gitignore
  autocrlf = input
[commit]
  gpgsign = true
[color]
  ui = true
[push]
  default = simple
  autoSetupRemote = true
[pull]
  rebase = true
[fetch]
  prune = true
